
.about{
    background-color:#5A5A5A;
    font-size: 30px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.desc{
    padding-top: 60px;
    padding-left: 200px;
    padding-right:200px;
    padding-bottom: 60px;
    font-family: monospace;

}

.block1, .block1.parallax-sec {
    padding: 90px 0;
    overflow: hidden;
}
.block1, section {
    width: 100%;
    position: relative;
    float: left;
    z-index: 1;
}
/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */



.fixed-bg, .parallax {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}


.block .container, .block.no-padding, .container {
    padding: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:before{
    display: table;
    content: " ";
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 100PX;
}

.title {
    margin-bottom: 40px;
    
    justify-content: center;
    align-items: center;
    padding-right:200px;

}
.title, .title h2, .title > span {

    width: 100%;
    float: left;
}
.title h2{
    font-size: 30px;
    color: white;
}
.title span{
    color:lightseagreen;
    /* font-family: monospace; */
}


.amount > span, .circular span, .title {
    text-align: center;
}

.col-md-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.service-box {
    float: left;
    padding: 65px 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 2px;
    -webkit-box-shadow: 0 1px 2px #dfdfdf;
    box-shadow: 0 1px 2px #dfdfdf;
    border-radius: 6px;
    background: #FFF;

}

.row:after {
    clear: both;
    display: table;
    content: " ";

}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blackish:before {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.title1{
    font-size: 30px;
    padding-left: 500px;
   
}
.content1{
    font-size: 13px;
    padding-top: 1px;
    padding-left: 150px;
    padding-right:300px;
    padding-bottom: 20px;
    font-family: monospace;
}

.pic img{
    width: 300px;
    height:250px;
    border-radius: 30px;
    float: right;
    padding: 20px;
    padding-top: 40px;
}
.abt{
    padding: 20px;
}
