

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* overflow: hidden; */

   }
   .banner1,.banner2,.banner3{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
   
   }
.image{
    width:120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoom-out 3s linear infinite;
    position: fixed;
   }
   
   @keyframes zoom-out {
    100%{
    width: 100%;
    }
   }
   
   .text-box{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: white;
    animation: textup 12s linear infinite;
    transform: translateY(100px );
   }
   
   @keyframes textup {
    10%{
    transform:translateY(0px) ;
    }
    100%{
    transform: translateY(0px);
    }
   }
   
   .text-box h1{
    margin-bottom: 40px;
    font-size: 60px;
    letter-spacing: 20px;
   }
   
   .text-box p{
    font-size:14px ;
    line-height: 18px;
    margin-top:80px ;
    font-size: 25px;
    letter-spacing: 5x;
    
   }
   .text-box span{
    background: red;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0;
   }
   .banner1{
    animation: slide1 8s linear infinite;
   }
   .banner2{
    animation: slide2 8s linear infinite;
   }
   .banner3{
    animation: slide3 8s linear infinite;
   }
   @keyframes slide1 {
    0%{
    visibility: visible;
    }
    25%{
    visibility: hidden;
    }
    50%{
    visibility: hidden;
    }
    75%{
    visibility: hidden;
    }
    100%{
    visibility: visible;
    }
   }
   @keyframes slide2 {
    0%{
    visibility: hidden;
    }
    25%{
    visibility: hidden;
    }
    50%{
    visibility: visible;
    }
    75%{
    visibility: visible;
    }
    100%{
    visibility: hidden;
    }
   }
   @keyframes slide3 {
    0%{
    visibility: hidden;
    }
    25%{
    visibility: hidden;
    }
    50%{
    visibility: hidden;
    }
    75%{
    visibility: hidden;
    }
    100%{
    visibility: visible;
    }
   }
   
   
   .text1{
    animation-delay: 0s;
   }
   .text2{
    animation-delay: 3s;
   }
   .text3{
    animation-delay: 6s;
   }
   



