*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.hotel-location-wrapper{
    /* padding-bottom: 10px; */
    display: flex;
    gap: 5px;
    color:black;
    /* border-bottom: 1px solid lightgray; */
    /* margin-bottom: 10px; */
  
    
}
.icon{
    padding: 5px;
    cursor: pointer;            
}


.hotel-location-distance{
    padding: 10px;
}

.card-group{
    justify-content: space-evenly;   
    gap: 30px;
    
}

.card{
    min-width: 400px;
    padding: 20px;
}

.container{
    margin: auto 100px;
}

.hotel-location-wrapper{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-evenly; */
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    /* width:380px; */
    height: 300px;
}

.card-img-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    background-color: #0d6efd !important;
}
